<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Util</title>
</head>
<body>
<h1>Welcome to the text Analyzer Enter your texxt below</h1>

<form action="/analyze" method="get">
    <textarea name='text' style="margin: 0px; width: 696px; height: 114px;"></textarea><br><br>



    <button type="submit">Analyze Text</button>
</form>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Analyzing text</title>
</head>
<body>









</body>
</html>